<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="5">
    <test name="Test1">
        <classes>
            <class name="ru.magic3000.practice2.tests.AddEntityTest"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="ru.magic3000.practice2.tests.EditEntityTest"/>
        </classes>
    </test>
    <test name="Test3">
        <classes>
            <class name="ru.magic3000.practice2.tests.GetAllEntitiesTest"/>
        </classes>
    </test>
    <test name="Test4">
        <classes>
            <class name="ru.magic3000.practice2.tests.GetEntityTest"/>
        </classes>
    </test>
    <test name="Test5">
        <classes>
            <class name="ru.magic3000.practice2.tests.RemoveEntityTest"/>
        </classes>
    </test>
</suite>